body {
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: limegreen;
}

p {
    color: lightgrey;
}

a:link {
    color: white;
}

a:visited {
    color: whitesmoke;
}
