/* webbgamers 2021 */

body {
    background-color: #222222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    color: limegreen;
    margin: 20px;
    font-size: 48px;
}

h3 {
    color: limegreen;
    margin: 10px 14px;
}

p {
    color: lightgrey;
    margin: 12px 16px;
}

a:link {
    color: white;
}

a:visited {
    color: #dddddd;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    color: #dddddd;
}

.nav-link:hover {
    background-color: #bbbbbb;
}

.project-container {
    display: flex;
    margin: 12px;
    flex-wrap: wrap;
}

.project {
    background-color: #111111;
    border-radius: 16px;
    margin: 6px;
    width: clamp(200px, 250px, 300px);
}

.project-link {
    text-decoration: none;
}