<div style="flex-grow:1"></div>
<footer>
  <p>
    <small>
      &copy; Copyright {{ "now" | date: "%Y" }}, Garrett Webb <br>
      <a href="https://github.com/webbgamers/webbgamers.tech">Source</a>
    </small>
  </p>
</footer>