<section>
  <h2>Projects</h2>
  <div id="projects">
    {% for project in site.data.projects %}
      <div>
        <h3>
          <a href="{{ project.link }}">{{ project.name }}</a>
        </h3>
        <p>{{ project.desc | markdownify }}</p>
      </div>
    {% endfor %}
  </div>
</section>